.text_field {
    -fx-alignment: center;
	-fx-background-color: #DCDCDC;
	-fx-background-radius: 12;
	-fx-text-fill: #000000;
	-fx-font-size: 16;
}

.button {
	-fx-border-radius: 50;
	-fx-background-radius: 50;
	-fx-alignment: center;
	-fx-background-color: #808080;
	-fx-font-weight: 500;
	-fx-font-size: 20;
	-fx-text-fill: #fff;
}	

.list_view {
	-fx-background-color: #DCDCDC;
	-fx-background-radius: 12;
	-fx-text-fill: #F8F8FF;
	-fx-font-size: 18;
}

.col_1 {
	-fx-background-color: #DCDCDC;
	-fx-background-radius: 12;
	-fx-text-fill: #000;
	-fx-font-size: 16;
}

.col_2 {
	-fx-background-color: #808080;
	-fx-text-fill: #fff;
	-fx-font-size: 16;
}	